<header>
  <h1 class="title">About me</h1>
</header>
<div id="about" class="banner"></div>


<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div id="about_me">
      <p>
        I'm a current student at Ada Developers Academy.
        I'm very adventurous, curious, open minded, and responsible. In the summer of 2010 I moved from Belarus to US in pursuit of my dream. I graduated from one of the most prestigious university in Belarus (BSEU), earning a bachelor's degree in Economics and Management. After graduation worked as an Accountant for a ceramic bricks manufacturing company. I've admired the computer sciences for a while, and ventured out into the realm by taking several courses online. When I found out about Ada Developers Academy I set a goal to become a student and challenge myself in the new career. Some of the people I admire are Jacque Fresco, Albert Einstein, Viktor Frankl and Anousheh Ansari.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec justo scelerisque, finibus quam at, euismodrisus.  Fusce convallis elementum faucibus. Suspendisse feugiat malesuada ultricies. Pellentesque vulputate lectusin  scelerisque viverra. Sed sed nisi vulputate, luctus risus sed, condimentum leo. Nunc suscipit iaculis metus   acsagittis. Aenean pellentesque imperdiet mi a facilisis. Praesent sollicitudin quam a risus euismod mollis. Nullaid  purus at urna mattis dapibus a nec enim. Praesent porta nec leo eget euismod. Maecenas nec blandit augue. Sedin   lobortis diam, vitae cursus ex.</p>
      </p>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
