<h1>CONTACT ME:</h1>
<hr style="width:30%;" />

<div class="contact">
  <section class="buttons">
    <div class="container">
      <a href="https://www.facebook.com/victoria.shabunia" class="btn btn-3">Facebook</a>
      <a href="https://github.com/vikshab" class="btn btn-3">Github</a>
      <a href="https://www.linkedin.com/pub/victoria-shabunia/50/a28/799" class="btn btn-3">Linkedin</a>
      <a href="https://plus.google.com/105937310693442255768" class="btn btn-3">Google+</a>
      <a href="mailto:vikshab2010@hotmail.com" class="btn btn-3">Email</a>
    </div>
  </section>
</div>
