<div id="welcome_header">
  <header>
    <h3>Contact me<h3>
    <hr style="width:19%;" />
  </header>
</div>

<div id="welcome_banner">
      <div class="contact">
      <section class="buttons">
        <div class="container">
          <a href="https://www.facebook.com/victoria.shabunia" class="btn btn-3">Facebook</a>
          <a href="https://github.com/vikshab" class="btn btn-3">Github</a>
          <a href="https://www.linkedin.com/pub/victoria-shabunia/50/a28/799" class="btn btn-3">Linkedin</a>
          <a href="https://plus.google.com/105937310693442255768" class="btn btn-3">Google+</a>
          <a href="mailto:vikshab2010@hotmail.com" class="btn btn-3">Say hello</a>
        </div>
      </section>
      </div>
</div>

<div id="welcome_content">
</div>
