<div id="welcome_header">
  <header>
    <h3>My name is<h3>
    <h1 id="blog"> Victoria Shabunia</h1>
    <hr style="width:19%;" />
    <h2>CODER, DEVELOPER & DREAMER</h2>
    <div id="profile">
      <%= image_tag('profilepic.jpg', class: "profile_photo", size: '350x320') %>
    </div>
  </header>
</div>

<div id="welcome_banner">
</div>

<div id="welcome_content">
</div>
