<div class="jumbotron">
  <h1 id="top">Victoria Shabunia</h1>

<div class="navigation">
  <!-- <button type="button" class="btn btn-info"><a href="#" onclick="return false;" onmousedown="autoScrollTo('about');">ABOUT</a></button> -->
  <button type="button" class="btn btn-info"><a href="#" onclick="return false;" onmousedown="autoScrollTo('blog');">BLOG</a></button>
  <button type="button" class="btn btn-info"><a href="#" onclick="return false;" onmousedown="autoScrollTo('portfolio');">PORTFOLIO</a></button>
  <button type="button" class="btn btn-info"><a href="#" onclick="return false;" onmousedown="autoScrollTo('contact');">CONTACT</a></button>
</div>

<div id="about" class="about">ABOUT</div>

<a href="#" onclick="return false;" onmousedown="resetScroller('top');">Go back to top</a>

<div id="blog" class="blog">BLOG</div>
<a href="#" onclick="return false;" onmousedown="resetScroller('top');">Go back to top</a>

<div id="portfolio" class="portfolio">PORTFOLIO</div>
<a href="#" onclick="return false;" onmousedown="resetScroller('top');">Go back to top</a>

<div id="contact" class="contact">CONTACT</div>

<a href="#" onclick="return false;" onmousedown="resetScroller('top');">Go back to top</a>
</div>
