<div class="main">
  <%= image_tag('profilepic.jpg', class: "profile_photo", size: '350x320') %>
  <h3>MY NAME IS</h3>
  <h1>VICTORIA SHABUNIA</h1>
  <hr style="width:19%;" />
  <h2>CODER, DEVELOPER</h2>
</div>
