<header>
  <h3>My name is<h3>
  <h1 class="title"> Victoria Shabunia</h1>
  <hr style="width:19%;" />
  <h2>CODER, DEVELOPER & DREAMER</h2>
  <div id="profile_photo">
    <%= image_tag('profilepic.jpg', class: "photo_frame", size: '350x320') %>
  </div>
</header>

<div id="welcome" class="banner">
</div>

<div id="welcome" class="content">
</div>
