<header id="top">
  <h1 class="title">PORTFOLIO</h1>
  <hr style="width:19%;" />
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('project2');">PROJECT2</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('project3');">PROJECT3</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('project4');">PROJECT4</a>
</header>

<div id="portfolio" class="banner"></div><br><br><br>
<div id="project1" class="project">
  <div class="transbox">
    <p class='project_name'>GAME 2048</p>
    <p class="project_description">A player wins once they have a tile with a value of '2048'</p>
    <p class="project_owner">The game is written in tandem with Anita Wang</p>
  </div>

  <div class="project">
    <div id="scoreboard">
      <p id="score">SCORE:<p>
      <p id="score_number">0</p>
    </div>

    <div class="game">
      <div id="gameboard">
        <div class="cells">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <!-- <div class="container">
          <div class="btn btn-3 game">PLAY</div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div id="project2" class="project">
  <div class="transbox">
    <p class='project_name'>PROJECT2</p>
  </div>
</div>

<div id="project3" class="project">
  <div class="transbox">
    <p class='project_name'>PROJECT3</p>
  </div>
</div>

<div id="project4" class="project">
  <div class="transbox">
    <p class='project_name'>PROJECT4</p>
  </div>
</div>
