<div id="portfolio_header">
  <header>
    <h1 id="blog">PORTFOLIO</h1>
    <hr style="width:19%;" />
    <h2 id="top">
      <a href="#" onclick="return false;" onmousedown="autoScrollTo('project2');">PROJECT2</a>
      <a href="#" onclick="return false;" onmousedown="autoScrollTo('project3');">PROJECT3</a>
      <a href="#" onclick="return false;" onmousedown="autoScrollTo('project4');">PROJECT4</a>
    </h2>
  </header>
</div>

<div id="portfolio_banner">
</div>

<!-- <div id="portfolio_content">
</div> -->

<div id="project1" class="project1">
  <div class="transbox">
    <p class='project_name'>GAME 2048</p>
    <p class="project_description">A player wins once they have a tile with a value of '2048'</p>
    <p class="project_owner">The game is written in tandem with Anita Wang</p>
  </div>

  <div class="container">
    <div class="btn">SCORE:
      <p id="score_number">0</p>
    </div>
    <div class="btn btn-3 game">PLAY</div>
  </div>

  <div class="game">
    <div id="gameboard">
      <div class="cells">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
    </div>
  </div>
</div>

<div id="project2" class="project2">
  <div class="transbox">
    <p class='project_name'>PROJECT2</p>
  </div>
</div>

<div id="project3" class="project3">
  <div class="transbox">
    <p class='project_name'>PROJECT3</p>
  </div>
</div>

<div id="project4" class="project4">
  <div class="transbox">
    <p class='project_name'>PROJECT4</p>
  </div>
</div>
